#hud_window {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: 2px solid white;
    text-align: center;
    font-size: 30px;
    display: block;
    visibility: hidden;
    z-index: 100;
}

#start_button {
    position: absolute;
    padding: 20px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: 2px solid white;
    text-align: center;
    font-size: 30px;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    z-index: 201; /* Ensure buttons are above the canvas */
}

#start_button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#prototype_button {
    position: absolute;
    padding: 20px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: 2px solid white;
    text-align: center;
    font-size: 30px;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    z-index: 201; /* Ensure buttons are above the canvas */
}

#prototype_button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#menu_button {
    position: absolute;
    padding: 20px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: 2px solid white;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    visibility: hidden;
    transition: background-color 0.3s ease, transform 0.2s ease;
    z-index: 201; /* Ensure buttons are above the canvas */
}

#menu_button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#prototype_toggle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: grey; 
    z-index: 201;
}

#menu {
    width: 80vw;
    height: 80vh;
    background-color: black;
    border: 10px solid grey;
    margin: auto;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}

.menu {
    width: 300px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}